extends ../base

block content 
    form(method="POST")
        input(type="text" placeholder="Title" name="title")
        textarea(placeholder="Description" name="desc" id="summernote")
        input(type="submit" value="Submit")