extends ../base

block content 
    form(method="POST")
        input(type="text" placeholder="Title" name="title")
        input(type="text" placeholder="Description" name="desc")
        input(type="submit" value="Submit")