extends ../base

block content 
    if loggedIn
        div.form__container
            form(method="POST")
                input(type="text" placeholder="제목" name="title")
                textarea(placeholder="내용" name="desc" id="summernote")
                input(type="submit" value="작성하기")