extends ../base
include ../mixins/notice

block content
    div.notice__container
        h2 공지사항
        ul.notice__contents-container
            each notice in notices 
                +notice(notice)
            div
                a(href="/notice/create") 글 작성하기