extends ../base
include ../mixins/notice

block content
    h1 Notice Home
    // contents 표시하는 공간
    ul
        each notice in notices 
            +notice(notice)
    div
        a(href="/notice/create") 글 작성하기