extends ../base
include ../mixins/notice

block content
    div.notice__container
        h2 공지사항
        ul.notice__contents-container
            each notice in notices 
                +notice(notice)
        div.notice__contents-create
            button
                a(href="/notice/create") 글쓰기