.abountUs__container {
    height: 100vh;
    overflow-y: auto;
    position: relative;
    background-image: url("/images/배경2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-type: y mandatory;
    .aboutUs__section {
        position: relative;
        z-index: 2;
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
        scroll-snap-align: start;
    }
    
    .aboutUs__section:first-child {
        position: relative;
        height: 95vh;
        background-color: rgba($color: #000000, $alpha: 0.4);
        .aboutUs__section1-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .aboutUs__section1-message {
                z-index: 1;
                position: fixed;
                top: 45%;
                h2 {
                    color: white;
                    display: block;
                    font-size: 36px;
                    font-weight: 700;
                    margin-bottom: 8px;
                    text-align: center;
                }
                span {
                    color: white;
                    display: block;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }

    .aboutUs__section:nth-child(2) {
        background-color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .aboutUs__section2-container {
            width: 80%;
            max-width: 800px;
            height: 80%;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto 2fr 1fr;
            grid-template-areas: 
                "message1 message1"
                "message2 message2"
                "img img"
                "message3 message4" ;
            row-gap: 40px;
            .aboutUs__section2-message1 {
                width: 100%;
                margin: 0 auto;
                grid-area: message1;
                h2 {
                    display: block;
                    font-size: 44px;
                    white-space: nowrap;
                    font-weight: 700;
                }
            }
            .aboutUs__section2-message2 {
                grid-area: message2;
                span {
                    display: block;
                    font-size: 15px;
                    line-height: 20px;
                }
            }

            .aboutUs__section2-message3 {
                width: 100%;
                display: flex;
                grid-area: message3;
                // align-self: center;
                div {
                    width: 100%;
                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        margin-bottom: 20px;
                        display: block;
                    }
                    p {
                        display: block;
                        font-size: 15px;
                        font-weight: normal;
                        line-height: 20px;
                    }
                }
            }

            .aboutUs__section2-message4 {
                width: 100%;
                display: flex;
                grid-area: message4;
                // align-self: center;
                div {
                    width: 100%;
                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        margin-bottom: 20px;
                        display: block;
                    }
                    p {
                        display: block;
                        font-size: 15px;
                        font-weight: normal;
                        line-height: 20px;
                    }
                }
            }
            // .aboutUs__section2-imgbox1 {
            //     grid-area: img1;
            //     width: 100%;
            //     height: 100%;
            //     background-color: black;
            //     box-sizing: border-box;
            // }
            // .aboutUs__section2-imgbox2 {
            //     grid-area: img2;
            //     width: 100%;
            //     height: 100%;
            //     background-color: black;
            //     box-sizing: border-box;
            // }
            .aboutUs__section2-imgbox {
                grid-area: img;
                // align-self: center;
                width: 100%;
                height: 100%;
                background-image: url(/images/test2.jpg);
                background-size: cover;
                background-position: bottom;
                background-repeat: no-repeat;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }
        }
    }

    .aboutUs__section:nth-child(3) {
        width: 100%;
        height: 100vh;
        background-color: white;
        .aboutUs__section3-container {
            width: 80%;
            height: 100%;
            max-width: 800px;
            margin: 0 auto;
            .aboutUs__section3-cardlist {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .aboutUs__section3-carditem {
                    width: 100%;
                    height: 25vh;
                    background-color: white;
                    // box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                    border-radius: 10px;
                    display: flex;
                    div {
                        width: 40%;
                        height: 100%;
                        border-radius: 10px;
                        .profile {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .message-box {
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        span {
                            font-weight: bold;
                            font-style: italic;
                        }
                        .nametest {
                            display: flex;
                            align-items: center;
                            span {
                                margin-right: 20px;
                                font-size: 18px;
                                font-weight: normal;
                            }
                            .name {
                                font-size: 24px;
                                font-weight: bold;
                            }
                        }
                        .test3 {
                            font-size: 18px;
                            font-weight: normal;
                        }
                        .name {
                            font-size: 24px;
                        }
                        pre {
                            font-style: italic;
                            white-space: pre-wrap;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .aboutUs__section:nth-child(4) {
        width: 100%;
        height: 200vh;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        .aboutUs__section4-container {
            position: relative;
            width: 100%;
            max-width: 800px;
            height: 100%;
            .aboutUs__section4-wrap {
                width: 100%;
                position: sticky;
                top: 25%;
                .aboutUs__section4-messageBox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 60px;
                    h2 {
                        font-size: 44px;
                        font-weight: 700;
                        margin-bottom: 36px;
                    }
                    span {
                        display: block;
                        font-size: 15px;
                        font-weight: normal;
                        padding: 5px 0;
                    }
                }
                .aboutUs__section4-cardlist {
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .aboutUs__section4-carditem {
                        width: 30%;
                        .img-container {
                            width: 100%;
                            height: 60%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                width: 60%;
                                object-fit: cover;
                            }
                        }
                        span {
                            display: block;
                            text-align: center;
                            font-size: 18px;
                            font-weight: 700;
                            padding: 30px;
                        }
                        p {
                            display: block;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }



    .aboutUs__section:nth-child(5) {
        height: 20vh;
        background-color: #11101d;
    }
    // .aboutUs__section:first-child {
    //     height: 50vh;
    //     background-color: black;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     background-color: black;
    //     color: white;
    //     font-size: 36px;
    //     letter-spacing: 3px;
    //     text-align: center;
    //     .typed-text {
    //         font-weight: bold;
    //         color: tomato;
    //     }
    //     .cursor {
    //         display: inline-block;
    //         width: 2px;
    //         background-color: white;
    //         margin-left: 2px;
    //         animation: blink 1s infinite;
    //     }
    //     .cursor.typing {
    //         animation: none;
    //     }
    //     @keyframes blink {
    //         0% { background-color: white; }
    //         49% { background-color: white; }
    //         50% { background-color: transparent; }
    //         99% { background-color: transparent; }
    //         100% { background-color: white; }
    
    //     }
    // }
    
    .scroll-active {
        background-color: tomato;
    }
}