.abountUs__container {
    height: 100vh;
    overflow-y: auto;
    position: relative;
    background-image: url("/images/배경2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-type: y mandatory;
    .aboutUs__section {
        position: relative;
        z-index: 2;
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
        scroll-snap-align: start;
    }
    
    .aboutUs__section:first-child {
        position: relative;
        height: 95vh;
        background-color: rgba($color: #000000, $alpha: 0.4);
        .aboutUs__section1-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .aboutUs__section1-message {
                z-index: 1;
                position: fixed;
                top: 45%;
                h2 {
                    color: white;
                    display: block;
                    font-size: 28px;
                    font-weight: 700;
                }
                h3 {
                    color: white;
                    display: block;
                    font-size: 14px;
                }
            }
        }
    }

    .aboutUs__section:nth-child(2) {
        background-color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: burlywood;
        .aboutUs__section2-container {
            width: 80%;
            max-width: 800px;
            height: 80%;
            display: flex;
            flex-direction: column;
            .aboutUs__section2-message1 {
                width: 100%;
                margin: 0 auto;
                span {
                    display: block;
                    font-size: 44px;
                    white-space: nowrap;
                    font-weight: 700;
                    // letter-spacing: 2px;
                    padding: 5px 0;
                }
            }
            .aboutUs__section2-message2 {
                margin-top: 20px;
                span {
                    display: block;
                    font-size: 14px;
                }
            }

            .aboutUs__section2-message3 {
                width: 100%;
                font-size: 24px;
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                margin-top: 60px;
                div {
                    width: 40%;
                    span {
                        display: block;
                        margin-bottom: 20px;
                    }
                    p {
                        display: block;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    
    .aboutUs__section:nth-child(3) {
        width: 100%;
        height: 50vh;
        background-color: lightcoral;
        display: flex;
        align-items: center;
        justify-content: center;

        .aboutUs__section3-container {
            width: 60%;
            height: 80%;
        }
    }

    .aboutUs__section:nth-child(4) {
        width: 100%;
        height: 100vh;
        .aboutUs__section3-container {
            width: 100%;
            .aboutUs__section3-cardlist {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .aboutUs__section3-carditem {
                    width: 100%;
                    height: 50vh;
                    background-color: lightgray;
                }
            }
        }
    }

    .aboutUs__section:nth-child(5) {
        height: 30vh;
        background-color: #11101d;
    }
    // .aboutUs__section:first-child {
    //     height: 50vh;
    //     background-color: black;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     background-color: black;
    //     color: white;
    //     font-size: 36px;
    //     letter-spacing: 3px;
    //     text-align: center;
    //     .typed-text {
    //         font-weight: bold;
    //         color: tomato;
    //     }
    //     .cursor {
    //         display: inline-block;
    //         width: 2px;
    //         background-color: white;
    //         margin-left: 2px;
    //         animation: blink 1s infinite;
    //     }
    //     .cursor.typing {
    //         animation: none;
    //     }
    //     @keyframes blink {
    //         0% { background-color: white; }
    //         49% { background-color: white; }
    //         50% { background-color: transparent; }
    //         99% { background-color: transparent; }
    //         100% { background-color: white; }
    
    //     }
    // }
    
    .scroll-active {
        background-color: tomato;
    }
}