section {
    height: 100vh;
}
section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-30px);
    .main-page__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-page__logo {
        width: 400px;
        height: 400px;
        background-size: cover;
        background-position: center;
    }
    .main-page__sub-title {
        font-size: 24px;
        font-weight: 700;
        animation: fadein 1s;
    }
    .main-page__title {
        font-size: 48px;
        font-weight: 700;
        margin-top: 15px;
        letter-spacing: 15px;
        animation: fadein 2s;
    }
    .scroll-down {
        position: fixed;
        height: 50px;
        bottom: 0;
    }
    .scroll-down::after, .scroll-down::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        border: 2px solid black;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%) rotate(45deg);
        border-top: transparent;
        border-left: transparent;
        animation: moveArrow 1.2s ease-in-out infinite;
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes moveArrow {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            top: 90%;
        }
    }
}
// section:nth-child(2) {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: black;
//     color: white;
//     font-size: 36px;
//     letter-spacing: 3px;
//     text-align: center;
//     .typed-text {
//         font-weight: bold;
//         color: tomato;
//     }
//     .cursor {
//         display: inline-block;
//         width: 2px;
//         background-color: white;
//         margin-left: 2px;
//         animation: blink 1s infinite;
//     }
//     .cursor.typing {
//         animation: none;
//     }
//     @keyframes blink {
//         0% { background-color: white; }
//         49% { background-color: white; }
//         50% { background-color: transparent; }
//         99% { background-color: transparent; }
//         100% { background-color: white; }

//     }
// }
// section:nth-child(3) {
//     background-color: rgba(0, 0, 0, 0.03);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 40px;
//     font-size: 28px;
//     white-space: nowrap;
//     .second__message-container {
//         width: 60%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         font-weight: 600;
//         // text-shadow: 2px 2px 2px gray;
//         .second__message {
//             opacity: 0;
//             transition: all 1s ease;
//             transform: translate(0, -700px);
//         }
//         .sa {
//             opacity: 1;
//             transform: none;
//         }
//     }
//     .second__img {
//         width: 100%;
//         height: 50%;
//         // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
//         // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
//         background-size: cover;
//         background-position: top;
//         opacity: 0;
//         transition: all 1.3s ease;
//         transform: translate(0, 700px);
//     }
//     .sa {
//         opacity: 1;
//         transform: none;
//     }
// }

// section:nth-child(4) {
//     background-color: rgba(0, 0, 0, 0.03);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-weight: 600;
    
//     .nav-container {
//         width: 80%;
//         display: flex;
//         flex-direction: column;
//         gap: 80px;
//         transform: translate(0, -60px);
//         div {
//             text-align: center;
//             font-size: 28px;
//             transform: translate(0, -60px);
//         }
//         ul {
//             display: flex;
//             gap: 20px;
//             .nav-list {
//                 width: 33%;
//                 opacity: 0;
//                 transition: all 1.4s ease;
//                 .list-title {
//                     font-size: 18px;
//                     display: block;
//                     text-align: center;
//                     margin-top: 60px;
//                     padding: 5px;
                    
//                 }
//                 .list-img {
//                     padding-bottom: 80%;
//                     background-size:contain;     background-position: bottom;
//                     background-repeat: no-repeat;
                    
//                 }
//             }
//             .sa-left {
//                 transform: translate(0, 700px);
//             }
//             .sa-middle {
//                 transform: translate(0, 1400px);
//             }
//             .sa-right {
//                 transform: translate(0, 2100px);
//             }
//             .sa {
//                 opacity: 1;
//                 transform: none;
//             }
//         }
//     }
// }

// section:nth-child(5) {
//     height: 20vh;
//     background-color: black;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     a {
//         font-size: 24px;
//         color: lightgray;
//         padding: 20px 30px;
//         border: 2px solid lightgray;
//         opacity: 0.7;
//     }
//     a:hover {
//         color: white;
//         opacity: 1;
//     }
// }