// config
@import "./config/_variables";
@import "./config/_reset.scss";

// components
@import "./components/header.scss";
@import "./form.scss";

// notice
@import "./Notice/noticeHome.scss";
@import "./Notice/noticeContent.scss";

// story
@import "./Story/storyHome.scss";
@import "./Story/storyContent.scss";

// calendar
@import "./Calendar/calendar.scss";

// homepage
@import "./homePage.scss";

// font
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    // font-family: 'EliceDigitalBaeum_Bold';
    font-family: 'KoPubDotumMedium';
    overflow: hidden;
    position: relative;
}

.main__container {
    position: relative;
    z-index: -1;
    box-sizing: border-box;
    width: calc(100% - 78px);
    height: 100%;
    left: 78px;
    transition: all 0.5s ease;
}

.nav-active__main {
    width: calc(100% - 200px);
    left: 200px;
    transition: all 0.5s ease;
}