.notice__content-container {
    border-top: 2px solid black;
    .notice__content-header {
        border-bottom: 1px solid grey;
        padding: 20px 0;
        h3 {
            font-size: 24px;
        }
        .notice__content-meta {
            margin-top: 20px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
        }
    }
    .notice__content-desc {
        padding: 30px 20px;
        font-family: 'EliceDigitalBaeum_Regular';
        font-size: 18px;
        white-space: pre-wrap;
        line-height: 1.4;
    }
}