extends ../base

block content
    div.abountUs__container
        section.aboutUs__section
            div.aboutUs__section1-container
                h2 ABOUT US
                h3 경제연구회를 소개합니다

            //- div.type-effect-container
            //-     span 경제연구회는  
            //-     span.typed-text
            //-     span.cursor &nbsp;
            //-     span  입니다  
        section.aboutUs__section
            div.aboutUs__section2-container
                div.aboutUs__section2-leftbox
                    div.aboutUs__section2-leftbox-1
                        span 경제연구회
                        span 참 삶의 배움터
                    div.aboutUs__section2-leftbox-2
                        span 경제연구회 블라블라 어쩌고 저쩌고 멘트 씨부리씨부리
                        span 경제연구회 블라블라 어쩌고 저쩌고 멘트 씨부리씨부리
                        span 경제연구회 블라블라 어쩌고 저쩌고 멘트 씨부리씨부리
                    div.aboutUs__section2-leftbox-3
                        span 아이콘
                        span 아이콘
                        span 아이콘
                div.aboutUs__section2-rightbox
                    div.aboutUs__section2-rightbox-imgbox
                        img(src="../../images/test.jpg", alt="test")
        section.aboutUs__section
            div.aboutUs__section3-container
                ul.aboutUs__section3-cardlist
                    li.aboutUs__section3-carditem item
                    li.aboutUs__section3-carditem item
                    li.aboutUs__section3-carditem item
                    li.aboutUs__section3-carditem item
                    li.aboutUs__section3-carditem item
                    li.aboutUs__section3-carditem item
        section.aboutUs__section 4
        section.aboutUs__section 5

block scripts
    //- script(src="/assets/js/aboutUs.js")
