extends ../base

block content
    div.abountUs__container
        section.aboutUs__section
            div.aboutUs__section1-container
                div.aboutUs__section1-message
                    h2 ABOUT US
                    span 경제연구회를 소개합니다
        section.aboutUs__section
            div.aboutUs__section2-container
                    div.aboutUs__section2-message1
                        h2 경제연구회
                        h2 참 삶의 배움터
                    div.aboutUs__section2-message2
                        span 중앙대학교 경영학부 최대 규모로 깊은 역사를 자랑하는 경제연구회는, 
                        span 학술과 친목이 조화를 이루어 활동함으로써 인간적인 시각으로 경제적 식견을 넓힐 수 있고, 
                        span 그 밖의 다채로운 경험을 나눌 수 있는 융합적인 동아리입니다.
                    div.aboutUs__section2-message3
                        div 
                            h3 참 삶
                            span 경제연구회가 추구하는 삶(목표)는 무엇인가?
                            p 경제의 본 뜻, 
                            p 경세제민(經世濟民)의 가치를 추구합니다. 
                            p 세상 속 경제가 시사하는 인사이트를 파악하고, 
                            p 그 가치를 탐구하고자 합니다.
                    div.aboutUs__section2-message4
                        div
                            h3 배움터
                            span 참 삶을 실현하기 위해 우리는 무엇을 하는가?
                            p 급변하는 사회와 경제의 흐름에 뒤처지지 않기 위해,
                            p 다양한 방식을 통해 개인과 개인, 집단과 집단이
                            p 함께 토론하고 논의할 수 있는 장을 만듭니다.
                    div.aboutUs__section2-imgbox
                    //- div.aboutUs__section2-imgbox1
                    //- div.aboutUs__section2-imgbox2
        section.aboutUs__section
            div.aboutUs__section3-container
                ul.aboutUs__section3-cardlist
                    li.aboutUs__section3-carditem
                        div
                            img.profile(src="../../images/회장.png")
                        div.message-container
                            div.name-box
                                span.position 회장
                                span.name 이 상 원
                            div.message-box
                                pre 안녕하십니까, 34기 회장 이상원입니다. 경연인 여러분, 참삶의 배움터 경제연구회를 항상 지지해주셔서 감사합니다. 저희 34기 회장단은 이듬해 위드코로나의 가능성과 함께 활발한 경연 활동에 기대감을 품고 있습니다. 앞으로도 지속적인 애정과 관심을 가져주시면 감사하겠습니다.
                                pre 사랑합니다 경제연구회 경제연구회 사랑합니다.
                    li.aboutUs__section3-carditem
                        div.message-container
                            div.name-box
                                span.position 부회장
                                span.name 김 세 원
                            div.message-box
                                pre 안녕하십니까, 경제연구회 34기 부회장 김세원입니다. 코로나-19의 여파 속에서도 경연인으로서 함께해주셔서 감사합니다. 더 좋은 행사로 보답하는 회장단이 되겠습니다. 감사합니다. 
                                pre 사랑합니다 경제연구회 경제연구회 사랑합니다.
                        div
                            img.profile(src="../../images/부회장.png")
                    li.aboutUs__section3-carditem
                        div
                            img.profile(src="../../images/총무.png")
                        div.message-container
                            div.name-box
                                span.position 총무
                                span.name 이 선 우
                            div.message-box
                                pre 안녕하십니까, 참삶의 배움터 경제연구회 34기 총무 이선우 입니다.코로나19로 인하여 학기중에 많은 활동을 학우분들과 함께하지 못했음에도 불구하고 저희 경제연구회를 지속적으로 많은 관심과 사랑해주셔서 감사합니다.경제연구회 학우분들의 창창하고 밝은 앞날을 항상 응원합니다.
                                pre 사랑합니다 경제연구회 경제연구회 사랑합니다.

        section.aboutUs__section
            div.aboutUs__section4-container
                div.aboutUs__section4-wrap
                    div.aboutUs__section4-messageBox
                        h2 경연인을 위한 웹사이트
                        span 경연인들의 소통의 편의성을 높이기 위해 만들어진 웹사이트로
                        span 문자, 전화 이외에도 경연의 소식과 일정을 공유할 수 있는 수단
                        span 경제연구회 34기 35기 회장단 및 집행부와 함께 만들었습니다
                    ul.aboutUs__section4-cardlist
                        li.aboutUs__section4-carditem
                            div.img-container
                                img(src="../../images/calendar.png", alt="calendar")
                            span 일정달력
                        li.aboutUs__section4-carditem
                            div.img-container
                                img(src="../../images/man-announcing.png", alt="announcement")
                            span 공지사항
                        li.aboutUs__section4-carditem
                            div.img-container
                                img(src="../../images/photo.png", alt="photo")
                            span 행사사진

        section.aboutUs__section
            div.aboutUs__section5-container
                span 안녕하세요
block scripts
    //- script(src="/assets/js/aboutUs.js")
