extends ../base

block content
    div.abountUs__container
        section.aboutUs__section
            div.aboutUs__section1-container
                div.aboutUs__section1-message
                    h2 ABOUT US
                    h3 경제연구회를 소개합니다
        section.aboutUs__section
            div.aboutUs__section2-container
                    div.aboutUs__section2-message1
                        span 경제연구회
                        span 참 삶의 배움터
                    div.aboutUs__section2-message2
                        span 경제연구회는 1986년에 창립되어 현재까지 명맥을 이어오고 있는 중앙대학교의 동아리입니다.
                        span 경제연구회 블라블라 어쩌고 저쩌고 멘트 씨부리씨부리
                        span 경제연구회 블라블라 어쩌고 저쩌고 멘트 씨부리씨부리
                    div.aboutUs__section2-message3
                        div 
                            span 참 삶
                            p 경제연구회가 추구하는 삶이란 선배와 후배간의 지속적인 소통을 통해 다양한 지식과 지혜를 공유함을 뜻합니다
                        div
                            span 배움터
                            p 경제연구회는 창립제, 페스티벌, 총회, 세미나 및 다양한 활동들과 같은 배움터를 만들어 선후배들과의 소통을 원활하게 합니다
        section.aboutUs__section 
            div.aboutUs__section3-container
                div.aboutUs__section3-message1 경연인을 위한 웹사이트
                div.aboutUs__section3-message2 경연인들의 소통의 편의성을 높이기 위해 웹사이트를 제작했습니다
                div.aboutUs__section3-message2 문자, 전화 이외에도 경연의 소식과 일정을 공유하는 창구
                div.aboutUs__section3-message2 경제연구회 34기 35기와 함께 만들었습니다
        section.aboutUs__section
            div.aboutUs__section4-container
                ul.aboutUs__section4-cardlist
                    li.aboutUs__section4-carditem
                        div 사진
                        span 멘트
                    li.aboutUs__section4-carditem
                        div 사진
                        span 멘트
                    li.aboutUs__section4-carditem
                        div 사진
                        span 멘트
        section.aboutUs__section 5

block scripts
    //- script(src="/assets/js/aboutUs.js")
