extends ../base

block content
    section.aboutUs__section 1
    section.aboutUs__section 2
    section.aboutUs__section 3
    section.aboutUs__section 4
    section.aboutUs__section 5

block scripts
    script(src="/assets/js/aboutUs.js")
