extends ../base

block content
    div.abountUs__container
        section.aboutUs__section 
            div.type-effect-container
                span 경제연구회는  
                span.typed-text
                span.cursor &nbsp;
                span  입니다  
        section.aboutUs__section 2
        section.aboutUs__section 3
        section.aboutUs__section 4
        section.aboutUs__section 5

block scripts
    script(src="/assets/js/aboutUs.js")
