.calendar {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .calendar__container {
        width: 90%;
        height: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .calendar__header {
            width: 100%;
            display: flex;
            // height: 13vh;
            align-items: center;
            font-weight: 600;
            .calendar__title {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: 24px;
            }
            div.calendar__btn-prev {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                i {
                    font-size: 14px;
                    // font-size: 28px;
                }

            }
            div.calendar__btn-next {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                i {
                    font-size: 14px;
                    // font-size: 28px;
                }

            }

        }
        .calendar__main {
            font-size: 12px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .calendar__day-container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding-bottom: 20px;
            }
            .calendar__date-container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .noCurrent {
                    color: lightgray;
                }
                .today {
                    border: 2px solid rgba(255, 99, 71, 0.644);
                    border-radius: 10px;
                    // background-color: #1e72c0b0;
                    // background-color: rgba(255, 99, 71, 0.8);
                    // border-radius: 5px;
                }
            }
            .calendar__day {
                width: calc(100% / 7);
                box-sizing: border-box;
                font-size: 12px;
                height: 2rem;
                line-height: 2rem;
                padding: 8px;
                text-align: center;
                font-weight: 600;
            }
            .calendar__date-info {
                width: calc(100% / 7);
                height: 12vh;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                border-top: 1px solid rgba(0, 0, 0, 0.15);
                padding: 0 1px;
                .calendar__date-info-num {
                    padding: 4px 8px;
                    // padding-bottom: 0px;
                    width: 100%;
                    text-align: center;
                    box-sizing: border-box;
                    font-weight: 600;
                }
                .calendar__date-info-schedule {
                    width: 100%;
                    li {
                        width: 100%;
                        // background-color: #b2c8d6;
                        background-color: #1e72c041;
                        padding: 4px 5px;
                        box-sizing: border-box;
                        margin-bottom: 1px;
                        text-align: start;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    li:nth-child(2n) {
                        background-color: #1e72c041;
                    }
                }
            }
            .calendar__date-info:nth-child(7n + 1) {
                color: tomato;
            }
            .calendar__date-info:nth-child(7n) {
                border-right: none;
            }
        }
    
        .calendar__schedule {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            .calendar__schedule-form-overlay {
                background-color: rgba(0, 0, 0, 0.6);
                width: 100%;
                height: 100%;
            }
            .calendar__schedule-form-modal{
                background-color: white;
                position: fixed;
                width: 40vw;
                height: 50vh;
                max-width: 350px;
                max-height: 700px;
                border-radius: 7px;
                padding: 30px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                .calendar__schedule-form-modal-title {
                    font-size: 22px;
                    font-weight: 600;
                    width: 100%;
                    margin-bottom: 50px;
                    text-align: center;
                    box-sizing: border-box;
                }
                .calendar__schedule-modal-list {
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    li {
                        background-color: #b2c8d6;
                        padding: 6px 8px;
                        margin-bottom: 2px;
                        border-radius: 6px;
                        box-sizing: border-box;
                        span {
                            display: none;
                        }
                    }
                    li:nth-child(2n) {
                        background-color: #b2c8d6;
                    }
                }
                .calendar__schedule-form {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border: none;
                    width: 100%;
                    box-sizing: border-box;
                    input {
                        all: unset;
                    }
                    input[type="submit"] {
                        width: 100%;
                        padding: 5px 0;
                        background-color: lightgray;
                        text-align: center;
                        border-radius: 6px;
                    }
                }
            }
        }
        .hidden {
            display: none;
        }
    }
    
    .calendar__date-info-scheduleData-list {
        display: none;
    }
}