header
    nav
        div.logo__container
            a(href="/")
                img(src="/uploads/경연로고.jpg").logo
        ul.menu__container
            li.menu__item
                a(href="/about-us").menu__link ABOUT US
            li.menu__item
                a(href="/notice").menu__link NOTICE
            li.menu__item
                a(href="/story").menu__link STORY
            li.menu__item
                a(href="/story").menu__link CALENDAR