header
    nav
        div.logo__container
            a(href="/")
                img(src="/uploads/경연로고.jpg").logo
        ul.menu__container
            li.menu__item
                a(href="/about-us").menu__link About Us
            li.menu__item
                a(href="/notice").menu__link Notice
            li.menu__item
                a(href="/story").menu__link Story
            li.menu__item
                a(href="/story").menu__link Calendar