header
    // logo 들어갈 자리
    h1 경제연구회
    nav 
        ul 
            li
                a(href="/") Home
            li
                a(href="/about-us") About Us
            li
                a(href="/notice") Notice