doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        title 경연
        // 임시 디자인
        //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        //- fontawesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous")
        link(rel="stylesheet" href="/assets/css/styles.css")
    body
        include partials/header
        main.main__container
            block content
        script(src="/assets/js/main.js")
        script(src="/assets/js/ui.js") 
    block scripts