doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        title 경연
        // 임시 디자인
        //- fontawesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous")
        link(rel="stylesheet" href="/assets/css/styles.css")
    body
        section.main-page__section
            div.main-page__container
                a.main-page__logo(href=`/calendar` style=`background-image: url(/images/로고.png)`)
                div.main-page__sub-title 참 삶의 배움터
                div.main-page__title 경제연구회
        script(src="/assets/js/main.js")