extends ../base

block content 
    div.calendar
        div.calendar__header
            button.calendar__btn-prev prev
            div.calendar__title
                div.calendar__year-title
                div.calendar__month-title
            button.calendar__btn-next next
        div.calendar__main
            div.calendar__day-container
                div.calendar__day 일
                div.calendar__day 월
                div.calendar__day 화
                div.calendar__day 수
                div.calendar__day 목
                div.calendar__day 금
                div.calendar__day 토
            div.calendar__date-container
        div.calendar__schedule.hidden
            div.calendar__schedule-form-overlay
            div.calendar__schedule-form-modal
                div.calendar__schedule-form-modal-title 9월 8일 수요일
                ul.calendar__schedule-modal-list
                    li hello
                    li hello
                    li hello
                form.calendar__schedule-form
                    input(type="text" name="schedule" placeholder="일정을 적어주세요")
                    button 추가하기

block scripts 
    script(src="/assets/js/drawCalendar.js")
    script(src="/assets/js/calendarModal.js")