.nav__container {
    z-index: 3;
    width: 78px;
    height: 100%;
    background-color: #11101d;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
    transition: all 0.5s ease;
    .logo__container {
        .logo__box {
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            display: flex;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease;
            .logo__title {
                margin-left: 5px;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .menu__toggle {
            position: absolute;
            top: 6px;
            left: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            transform: translateX(-50%);
            transition: all 0.5s ease;
        }
    }

    .menu__container {
        margin-top: 20px;
        .menu__item {
            position: relative;
            height: 50px;
            width: 100%;
            line-height: 50px;
            .menu__link {
                display: flex;
                align-items: center;
                border-radius: 12px;
                i {
                    min-width: 50px;
                    height: 50px;
                    border-radius: 12px;
                    line-height: 50px;
                    text-align: center;
                }
                .menu__text {
                    opacity: 0;
                    pointer-events: none;
                }
            }
            .menu__link:hover {
                background-color: #fff;
                color: #11101d;
            }
            .tooltip {
                z-index: 2;
                position: absolute;
                width: 122px;
                height: 35px;
                top: 0;
                left: 122px;
                transform: translate(calc(-50% + 5px), -50%);
                line-height: 35px;
                text-align: center;
                background-color: #fff;
                color: #11101d;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                border-radius: 6px;
                opacity: 0;
                pointer-events: none;
            }
        }
        .menu__item:hover {
            .tooltip {
                transition: all 0.5s ease;
                top: 50%;
                opacity: 1;
            }
        }
    }
    footer {
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 10%;
        width: 100%;
        padding: 6px 14px;
        text-align: center;
        box-sizing: border-box;
        div {
            margin-bottom: 6px;
            span {
                font-weight: 300;
            }
        }
    }
}

.nav-active__header {
    width: 200px;
    transition: all 0.5s ease;
    .logo__container {
        .menu__toggle {
            left: 90%;
        }
    }
    .logo__container {
        .logo__box {
            opacity: 1;
            transition: all 0.7s ease;
        }
    }
    .menu__container {
        .menu__item {
            .menu__link {
                .menu__text {
                    opacity: 1;
                    pointer-events: auto;
                    transition: all 0.4s ease;
                }
            }
            .tooltip {
                display: none;
            }
        }
    }
    footer {
        opacity: 1;
        transition: all 0.5s ease;
    }
}