mixin story(story)
    a(href=`/story/${story._id}`)
        div.story__item-img(style=`background-image: url(/uploads/${story.fileUrl[0].substring(8)})`)
            img(src=`${story.fileUrl[0]}`)
        //- figcaption.story__item-title=story.title