.story__content-slide-wrap {
    width: 480px;
    .story__content-slide-box {
        width: 100%;
        overflow-x: hidden;
        .story__content-slide-list {
            display: flex;
            flex-wrap: nowrap;
            .story__content-slide-content {
                width: 480px;
                height: 480px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .slide-pagination-container {
        width: 100%;
        .story__content-slide-pagination {
            display: flex;
            justify-content: center;
            .dot {
                display: block;
                border-radius: 100%;
                margin: 8px 5px;
                width: 8px;
                height: 8px;
                background-color: lightgray ;
            }
            .dot.dot-active {
                background-color:lightskyblue;
                transition: 300ms;
            }
        }
    }
    .story__content-slide-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .for-style {
            opacity: 0;
        }
        .story__content-slide-prevBtn {
            display: none;
        }
        // .story__content-slide-nextBtn {
        // }
    }
}