.story__content-container {
    .story__content-slide-wrap {
        width: 70%;
        margin: 0 auto;
        .story__content-slide-box {
            width: 100%;
            overflow-x: hidden;
            .story__content-slide-list {
                display: flex;
                flex-wrap: nowrap;
                .story__content-slide-content {
                    background-repeat: no-repeat;
                    background-position: center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    width: 100%;
                    img {
                        display: none;
                        // width: 100%;
                        // height: auto;
                    }
                }
            }
        }
        .slide-pagination-container {
            width: 100%;
            .story__content-slide-pagination {
                display: flex;
                justify-content: center;
                .dot {
                    display: block;
                    border-radius: 100%;
                    margin: 8px 5px;
                    width: 5px;
                    height: 5px;
                    background-color: lightgray ;
                }
                .dot.dot-active {
                    background-color:lightskyblue;
                    transition: 300ms;
                }
            }
        }
        .story__content-slide-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .for-style {
                opacity: 0;
            }
            .story__content-slide-prevBtn {
                display: none;
            }
            // .story__content-slide-nextBtn {
            // }
        }
    }
}