extends ../base
include ../mixins/story

block content
    div.story__item-container
        each story in stories 
            +story(story)
    if loggnedIn
        a(href="/story/create") 글 작성하기

block scripts 