extends ../base

block content
    div.form__container
        //- span=story.fileUrl
        form(method="POST")
            input(type="file" value=`/${story.fileUrl}` multiple)
            input(type="text" value=story.title name="title")
            textarea(name="desc") #{story.desc}
            input(type="submit" value="제출하기")